
/* Botones del navbar */
.btn-outline-success {
    color: black;
    border: 3px solid #79b007;
    border-radius: 24px;
    font-weight: 700;
}


.btn-lg {
    font-weight: 700;
    width: 21.5rem;
    padding: .7rem 1rem;
    font-size: 30px;
    line-height: 1.5;
    border-radius: 20px;
}

.btn-success {
    background-color: #79b007;
    border-color: #79b007;
}



.button-container button{
    position: relative;
    left: 92px;
    bottom: 166px;
}



